<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>521Travel_ UITabBarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81544E911DCCB1F800EA35F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81544EA51DCCB1F800EA35F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81544EB01DCCB1F800EA35F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
